.login-page-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container {
  background-color: #202020;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    width: 450px;
  }
}

.website-logo {
  height: 30px;
  align-self: center;
  margin: 18px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    height: 40px;
    margin: 22px;
  }
}

@media screen and (min-width: 768px) {
}

.form-container {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .form-container {
    margin: 22px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .input-container {
    gap: 16px;
  }
}
.input-label {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 10px;
}

.input-value {
  border: 1px solid #475569;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  background-color: transparent !important;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .input-label {
    font-size: 16px;
  }
  .input-value {
    font-size: 16px;
  }
}

.login-button {
  width: 100%;
  background-color: #6366f1;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login-button {
    margin-bottom: 12px;
    margin-top: 12px;
  }
}

.error-message {
  color: #ff0b37;
  font-size: 14px;
  font-family: 'Roboto';
}

.login-button:hover {
  background: #4f46e5;
}
